/*Photo timelapse styles*/
.timelapse-container {
    position: relative;
    width: 100%;
    aspect-ratio: 16 / 9;
  }
  
  .timelapse-image {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .timelapse-image.active {
    display: block;
  }
  
  .timelapse-controls {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
  }
 
  .timelapse-controls div:first-child {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  .timelapse-controls button {
    color: var(--wp--preset--color--contrast);
    background-color: var(--wp--preset--color--primary);
    border: var(--wp--preset--color--primary) 1px solid;
    padding: var(--wp--preset--font-size--medium);
    line-height: 1;
    cursor: pointer;
    border: none;
  }
 
  .timelapse-controls button:active {
    background-color: var(--wp--preset--color--secondary);
    color: var(--wp--preset--color--base);
    border: var(--wp--preset--color--secondary) 1px solid;
  }
 
  .timelapse-controls button:hover {
    background-color: var(--wp--preset--color--contrast);
    color: var(--wp--preset--color--base);
    border: var(--wp--preset--color--contrast) 1px solid;
  }
 
  .timelapse-controls button:focus {
    background-color: var(--wp--preset--color--secondary);
    color: var(--wp--preset--color--base);
    border: var(--wp--preset--color--contrast) 1px dotted;
  }
 
  .timelapse-controls #date-text {
    color: var(--wp--preset--color--contrast);
    font-size: var(--wp--preset--font-size--medium) !important;
  }